<h2>Stats</h2>
<p>Total users: {{users_count}}</p>
<p>Total questions: {{questions_count}}</p>

{% if user %}
<p> Added user {{ user.name }} with {{ user.question_set.count }} questions.</p>
{% endif %}

<h2>Top 10</h2>
{% if top10 %}
    <ul>
    {% for question in top10 %}
        <li>{{question.text}} - {{question.num_users}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions</p>
{% endif %}

<form action="{% url 'add_user' %}" method="post">
    {% csrf_token %}
    <input type="text" name="user">
    <input type="submit">
</form>
    
